@{
    ViewBag.Title = "Phynn's Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<head>
	<link href="~/Content/MTG/generator.css" rel="stylesheet" />
	<script src="~/Scripts/MTGScript/generator.js"></script>
</head>
<body>
<div id="output">
	
</div>
</body>