@{
    ViewBag.Title = "Phynn's Page";
}

<head>
	<link href="~/Content/MTG/generator.css" rel="stylesheet" />
	<script src="~/Scripts/MTGScript/generator.js"></script>
</head>
<body>
	<h2>@ViewBag.Title.</h2>

    <h3>About Me</h3>
    <p>Phynn programs in javascript casually and maintains an active Khan Academy account.</p>

    <h3>Some of my Favorite Things</h3>
    <a href="https://www.youtube.com/user/BYUTelevision" target="_blank">Studio C: Family Friendly Comedy</a>
    <a href="https://duckduckgo.com/" target="_blank">DuckDuckGo: The Search Engine that doesn't track you.</a>
<div id="output" class="content">
	<ul id="phynnList">
		<li>
			<label for="spinner">Enter the number of players:</label>
			<input id="spinner" name="value">
		</li>
		<li>
			<text></text>
		</li>
	</ul>

</div>
</body>