@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fingers Development Server</h1>
	<p class="lead">This is a test site for the people in my slack channel to use to learn software development. Feel free to use it however you like, but try to tread lightly on other people's code. This site is run off my git repo, and is attached to an sql database.</p>
	<p>Things you need:</p>
	<ul>
		<li>Visual Studio Community Edition (free).</li>
		<li>Sql Server Management Studio (free) - sql not set up yet, comming soon</li>
		<li>Git/Github (free)</li>
	</ul>
	<p>This is an MVC (Model View Controller) Site, but feel free to make any additional pages and work in your favorite language.</p>
	<p>If you don't know how to use any of these, pop into FingerSlack and ask me.</p>
	<p>https://github.com/RobertFinger/Development</p>
	<p>http://fingersdevelopmentserver.azurewebsites.net/4</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>